<section class="gallery" *ngIf="listPlaces">
  <mat-card class="example-card" *ngFor="let place of listPlaces">
    <mat-card-header>
      <mat-card-title>{{ place.name }}</mat-card-title>
      <!-- <mat-card-subtitle>Subtítulo si se desea</mat-card-subtitle> -->
    </mat-card-header>
    <img
      mat-card-image
      src="{{ place.images[0] }}"
      alt="Foto de {{ place.name }}"
    />
    <mat-card-content>
      <p>
        {{ obtenerPrimeras50Palabras(place.resumen) }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/lugares/', place.id]">
        <mat-icon>add</mat-icon> Leer mas
      </button>
      <button mat-button *ngIf="place.valoracion > 0">
        <mat-icon class="color-valorar">star</mat-icon> {{ place.valoracion }}
      </button>
      <button mat-button *ngIf="place.valoracion == 0">
        <mat-icon class="color-no-valorado">star</mat-icon> NV
      </button>
    </mat-card-actions>
  </mat-card>
</section>
