.example-card {
  width: 30%;
}
 img{
  width: 100%;
  height: 292px;
 }

.gallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: auto;
  width: fit-content;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
mat-card-content{
  height: 150px;
}

mat-card-actions{
  display: flex;
  justify-content: space-between;
}

mat-card-header{
  justify-content: center;
}

mat-card{
  justify-content: space-between;
  gap: 1rem;
}

.color-valorar{
  color: yellow;
}

.color-no-valorado{
  color: grey;
}
