<main *ngIf="placeInfo">
  <h1>{{ placeInfo.name }}</h1>

  <mat-grid-list cols="12" rowHeight="100px">
    <!-- Columna 1: Imagen grande -->
    <mat-grid-tile
      id="img-grande"
      colspan="6"
      rowspan="4"
      [style.background]="
        'url(' + placeInfo.images[0] + ') no-repeat center center / cover'
      "
    >
    </mat-grid-tile>

    <!-- Columna 2: Dos imágenes pequeñas -->
    <mat-grid-tile
      class="min"
      colspan="3"
      rowspan="2"
      [style.background]="
        'url(' + placeInfo.images[0] + ') no-repeat center center / cover'
      "
      (click)="cambiarImagen(0)"
    >
    </mat-grid-tile>
    <mat-grid-tile
      class="min"
      colspan="3"
      rowspan="2"
      [style.background]="
        'url(' + placeInfo.images[1] + ') no-repeat center center / cover'
      "
      (click)="cambiarImagen(1)"
    >
    </mat-grid-tile>

    <!-- Columna 3: Dos imágenes pequeñas -->
    <mat-grid-tile
      class="min"
      colspan="3"
      rowspan="2"
      [style.background]="
        'url(' + placeInfo.images[2] + ') no-repeat center center / cover'
      "
      (click)="cambiarImagen(2)"
    >
    </mat-grid-tile>
    <mat-grid-tile
      class="min"
      colspan="3"
      rowspan="2"
      [style.background]="
        'url(' + placeInfo.images[3] + ') no-repeat center center / cover'
      "
      (click)="cambiarImagen(3)"
    >
    </mat-grid-tile>
  </mat-grid-list>

  <section id="info">
    <h2>
      Puntuación media: {{ placeInfo.valoracion }}
      <mat-icon class="color-valorar">star</mat-icon>
    </h2>

    <h2>Acerca de este lugar</h2>

    <p id="parrafo">{{ placeInfo.resumen }}</p>
  </section>
</main>
