mat-grid-list, #info, #valoraciones{
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}
mat-grid-tile.min{
  background-size: cover;
}
h1{
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#info, #valoraciones{
  padding-bottom: 2rem;
}

#observations{
  resize: none;
}

.min{
  filter: brightness(80%);
  transition: filter 0.5s ease;
  background-size: cover;
}

.min:hover{
  filter: brightness(100%);
  cursor: pointer;
}

#parrafo{
  white-space: pre-line;
}

mat-form-field{
  width: 100%;
}

.color-valorar{
  color: goldenrod;
}

.color-no-valorado{
  color: grey;
}


