<h1>Información del lugar seleccionado.</h1>

<mat-grid-list cols="12" rowHeight="100px">
  <!-- Columna 1: Imagen grande -->
  <mat-grid-tile
    colspan="6"
    rowspan="4"
    style="
      background: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
      background-size: cover;
    "
  >
  </mat-grid-tile>

  <!-- Columna 2: Dos imágenes pequeñas -->
  <mat-grid-tile
    class="min"
    colspan="3"
    rowspan="2"
    style="
      background: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
      background-size: cover;
    "
  >
  </mat-grid-tile>
  <mat-grid-tile
    class="min"
    colspan="3"
    rowspan="2"
    style="
      background: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
      background-size: cover;
    "
  >
  </mat-grid-tile>

  <!-- Columna 3: Dos imágenes pequeñas -->
  <mat-grid-tile
    class="min"
    colspan="3"
    rowspan="2"
    style="
      background: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
      background-size: cover;
    "
  >
  </mat-grid-tile>
  <mat-grid-tile
    class="min"
    colspan="3"
    rowspan="2"
    style="
      background: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
      background-size: cover;
    "
  >
  </mat-grid-tile>
</mat-grid-list>

<section id="info">
  <h2>Acerca de este lugar</h2>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi sint
    veniam unde nostrum cum optio quos fugit culpa est? Expedita consequatur
    consequuntur quibusdam maiores, sequi nihil ea exercitationem vero commodi
    cum accusantium, dolorum, ex adipisci eaque laboriosam laborum. Iure, enim!
  </p>
</section>
