mat-grid-list, #info{
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}
mat-grid-tile.min{
  background-size: cover;
}
h1{
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#info{
  padding-bottom: 5rem;
}

.min{
  filter: brightness(80%);
  transition: filter 0.5s ease;
  background-size: cover;
}

.min:hover{
  filter: brightness(100%);
  cursor: pointer;
}

#parrafo{
  white-space: pre-line;
}

.color-valorar{
  color: yellow;
}

